@font-face {
  font-family: "Master of Comics";
  src: url(./fonts/Master_of_Comics.ttf);
}

@font-face {
  font-family: "Cocogoose";
  src: url(./fonts/Cocogoose.ttf);
}

@font-face {
  font-family: "Mermaid";
  src: url(./fonts/Mermaid.ttf);
}

body {
  margin: 0;
  background-color: #f8f8ec;
}

:root {
  height: 100%;
}

html {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: start;
  height: 4.5em;
  background: #f8de9c;
}

#title {
  margin: 0;
  font-family: Master of Comics;
  text-shadow: 0.06em 0.06em #45151b, 0.1em 0.1em black;
  font-size: 2.3em;
  margin-left: 60px;
}

#title > a {
  text-decoration: none;
  color: #ea9dae;
  margin-top: 0;
}

.order-button > a {
  text-decoration: none;
  color: black;
}

.order-button {
  align-self: center;
  align-items: center;
  font-family: Cocogoose;
  border-radius: 15px;
  border: none;
  padding: 0.8em;
  background-color: #ea9dae;
  box-shadow: 0.15em 0.15em black;
}

.fa-bars {
  align-self: center;
  font-size: 1.5em;
}

#home-image {
  width: 100%;
  height: 70%;
}

.card-list .card-item {
  width: 300px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  backdrop-filter: blur(30px);
  background: rgba(248, 222, 156, 0.2);
  border: 1px solid rgba(248, 222, 156, 0.5);
}

.card-list {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
}

.card-list .card-item .food-image {
  width: 150px;
  height: 180px;
}

#cafe {
  width: 160px;
  height: 160px;
}

#tostada {
  width: 170px;
  height: 150px;
}

.card-list .card-item .category-button {
  font-family: Cocogoose;
  font-size: 1.25rem;
  text-shadow: 1px 1px 2px black;
  padding: 10px 35px;
  position: absolute;
  color: white;
  background-color: transparent;
  border: none;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease;
  text-decoration: none;
}

.card-list .card-item .category-button:hover {
  color: #ea9dae;
  font-size: 2rem;
}

.footer {
  font-family: Cocogoose;
  height: 80%;
  background-color: white;
  position: relative;
  background: #ea9dae;
  padding: 20px 50px;
  flex-direction: column;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 10px;
  flex-wrap: wrap;
}

.icon-elem {
  list-style: none;
}

.icon {
  color: white;
  font-size: 32px;
  display: inline-block;
  margin: 0 10px;
  transition: 0.5s;
}

.icon:hover {
  transform: translateY(-10px);
  color: #f8de9c;
}

.menu {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  flex-wrap: wrap;
}

.menu-elem {
  list-style: none;
}

.menu-icon {
  color: white;
  font-size: 15px;
  display: inline-block;
  text-decoration: none;
  margin: 5px 10px;
  opacity: 0.75;
  transition: 0.3s;
}

.menu-icon:hover {
  opacity: 1;
  color: #f8de9c;
}

.text{
  color: white;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 15px;
}

.title {
  font-family: Mermaid;
  font-size: 50px;
  justify-self: center;
}

.menu-dulces {
  display: flex;
  justify-content: center;
}

.dulce {
  background-color: #ea9dae;
  width: 60%;
  height: 300px;
  margin: 35px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  border-radius: 50px;
}

.sweet-image {
  padding: 20px;

}